/*background colour*/
body {
    background-color: #e6ddd4;
}

/*block colour*/
.block, .buttonLink {
    background-color: #a2bcd7;
}

.block {
    transition: 5s ease;
}

.block:hover, .buttonLink:hover {
    background-color: #e8a4cd;
}

.block:hover {
    transition: 1s ease;
}

/*text colour*/
body, a {
    color: black;
}

#footerLoad {
    position: relative;
}

#footerLoad img {
    text-align: left;
    position: absolute;
    width:100%;
    bottom:-1vh;
    z-index:-1;
}