* {
    transition: 5s ease;
}

a {
    transition: 0s none;
}

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    font-size: 16;
}

h1 a {
    text-decoration: none;
}

.block {
    border-radius: 3vh;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
}

a:hover {
    opacity: 0.5;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#centre {
    width: 50%;
}

#left {
    float: left;
    width: 25%;
    height: fit-content;
}

#right {
    float: right;
    width: 25%;
}

#postList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 45%;
    object-fit: contain;
    margin: 1%;
    cursor: pointer;
}

.post img {
    border-radius: 3vh;
    max-width: 100%;
    opacity: 1;
    transition: .5s ease;
    border: 1vh solid transparent;
    position: relative;
    left: -1vh;
}

.post:hover img {
    opacity: 0.75;
    transition: .5s ease;
    border-color: black;
}

.postTitle {
    font-size: 20px;
    margin: 1%;
}

.postImageContainer {
    position: relative;
}

.postReadMore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;

    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;

    opacity: 0;
    transition: .5s ease;
}

.post:hover .postReadMore {
    opacity: 1;
}

#extendList {
    font-size: 30px;
    width: 100%;
    cursor: pointer;
}

#logo {
    width: 50vw;
    display: block;
    cursor: pointer;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    transition: 5s ease;
}

#logo:hover {
    opacity: 0.5;
}

#phoneDescription {
    display: none;
}

#buttonBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonLink {
    margin: 1vh;
    padding: 1vh;
    text-decoration: none;
    border-radius: 1vh;
}

/*for vertical screens*/
@media (max-width: 1000px) {
    .post {
        width: 97%;
    }
    
    #logo {
        width: 98vw;
    }

    #left {
        width: 0%;
        display: none;
    }

    #right {
        width: 0%;
        display: none;
    }

    #centre {
        width: 100%;
    }

    #phoneDescription {
        display: block;
    }
}